.Header {
	display: flex;
	justify-content: space-between;
	padding: 0 30px;
}
.Header__Logo {
	object-fit: cover;
	width: 220px;
	margin: 20px 0;
}
.Header__Tabs {
	color: black;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.Header__Tabs > .Header__tab {
	margin: 0 20px;
	text-align: center;
	text-decoration: none;
	color: black;
}
.Header__toolbarMargin {
	margin-bottom: 5.7rem;
}
.Header__Book {
	margin: 0;
	padding: 0;
	height: 30px;
}
