.Description {
	text-align: center;
	margin: 75px auto;
	width: 65vw;
	font-family: 'Quicksand', sans-serif;
}
.Description__Title {
	font-weight: 700;
}
.Description__Subtitle {
	font-weight: 600;
}
