.App {
	font-family: sans-serif;
}
.Grid {
	font-size: 0.8rem;
	width: 98vw;
	margin: 100px auto;
	padding: 0 20px;
	font-size: 0.9rem;
	font-family: 'QuickSand';
}
.Offers__ImgContainer {
	overflow: hidden;
	border-radius: 3px;
	height: 350px;
	width: 100%;
}
.Offers__ImgContainer > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 50% 50%;
}
